/* =========================== */
/*       FORM ELEMENTS         */
/* =========================== */
.form-control {
    background: #f8f9fa;
    color: $text-color;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.5rem;
  
    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  
    &::placeholder {
      color: #adb5bd;
    }
  }
  
  .form-label {
    font-size: 1rem;
    font-weight: $font-weight-bold;
  }